.wsform.alert-danger, .wsform.alert-success, .wsform.alert-warning, .wsform.alert-info{
	display:none;
}
.hidden {
	display: none;
}

.flexform-disabled {
	cursor:progress !important;
	background: #cccccc !important;
	color: #666666 !important;
}

.flex-form-spinner {
	opacity: 0;
	max-width:0px;
	animation: spin 1s infinite ease-in-out;
//  animation: dash 2s infinite ease-in-out;
	border-radius: 50%;
	border-top: 2px solid #555;
	display: inline-block;
	height: 25px;
	width: 25px;
	margin:0px;
	padding:0px;
	vertical-align: middle;
	margin-left:10px;
}

.flex-form-spinner.active {
	opacity:1;
	max-width:25px;
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}