<style>

#{{verboseid}}, #{{errorid}} {
  background-color:#fff;
  color:#000;
  padding:5px;
  width:100%;
  height:auto;
}
#{{verboseid}} ol li {
  border:1px solid #555;
  padding:5px;
}

#{{errorid}} ol li {
  border: 1px solid red;
  padding:5px;
}
#{{verboseid}} ol li img {
  margin:5px;
  max-width:150px;
}

.wsform-dropzone {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 256px;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-color: #fafcfd;
  background-size: 16px 16px;
  padding-top:20px !important;
}

.wsform-dropzone:hover {
  cursor:copy;
}

.wsform-dropzone.dragover {
  border: 6px dashed rgba(0, 0, 0, 0.1);
}

.wsform-dropzone:after {
  position: absolute;
  content:'Drop files';
  left:0;
  top:0;
  width:100%;
  text-align:center;
  height:1.25rem;
  color:blue;
}

</style>
