<style>

#{{verboseid}}, #{{errorid}} {
  background-color:#fff;
  color:#000;
  padding:5px;
  width:100%;
  height:auto;
}
#{{verboseid}} ol li {
  border:1px solid #555;
  padding:5px;
}

#{{errorid}} ol li {
  border: 1px solid red;
  padding:5px;
}
#{{verboseid}} ol li img {
  margin:5px;
  max-width:150px;
}

.wsform-dropzone {
  min-height: 100px;
  border:1px dotted red;
  position: relative;
}

.wsform-dropzone:after {
  position: absolute;
  content:'Drop files';
  left:0;
  top:0;
  width:100%;
  text-align:center;
  height:1.25rem;
  color:blue;
}

</style>
