.custom-modal .iziModal-content section{
    padding: 30px;
}

.custom-modal .iziModal-content section footer{
    overflow: hidden;
}

.custom-modal {
    border-radius: 5px!important;
}

.custom-modal .iziModal-content section button{
    background: #28CA97;
    color: white;
    margin: 0;
    border: 0;
    cursor: pointer;
    width: 50%;
    float: left;
}

.modal-custom .iziModal-content section button:hover{
    opacity: 0.8;
}